

<div>
  <div class="is-flex is-justify-content-flex-begin cont-<%= message.user.id %> ">
    <div class="message is-info is-small">
      <div class="message-header msg-<%= message.user.id %> ">
        <p><%= message.user.username %></p>
      </div>
      <div class="message-body">
        <%= message.content %>
      </div>
    </div>
  </div>

</div>
