
<% if user_signed_in? %>
  <!-- Toggle button -->
  <div class="modal" id="old_events_popup">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Eventos Finalizados
        </p>
        <button onclick="closeModal('old_events_popup');" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body" style="text-align: center;" id="attendants_remove">
        <div class="box">
            <% if @old_events.empty? %>
              <p>No hay eventos finalizados</p>
            <% else %>

              <% @old_events.each do |event| %>
                <div class="old_event-item" style="display: flex; align-items: center;">
                  <%= button_to "Ir a #{event.name}", event_path(event), method: :get, class: "button is-small" %>
                </div>
              <% end %>
            <% end %>
        </div>
        </section>

      <footer class="modal-card-foot">
      </footer>

    </div>
  </div>
<% end %>
