
<% if current_user.has_role?(:admin_initiative, @initiative) %>
    <button onclick="openModal('request_popup');" class="button is-primary">
        Solicitudes
    </button>

    <div class="modal" id="request_popup">
        <div class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
            Solicitudes
            </p>
            <button onclick="closeModal('request_popup');" class="delete" aria-label="close"></button>
        </header>
            <section class="modal-card-body" style="text-align: center;" id="attendants_remove">
                <div class="box">
                    <% if @active_requests.present? %>
                        <ul style="list-style-type: none; padding: 0;">
                        <% @active_requests.each do |request| %>
                            <li style="margin-bottom: 10px;">
                                <div style="display: flex; align-items: center;">
                                    <span style="margin-right: 10px;"><h5 style = "color: black"><%= request.user.name %>  <%=request.user.last_name %></h5></span>     
                                    <%= button_to "Aceptar",  request_path(request), method: :patch, params: { request: {status: :accepted} },style: "padding: 5px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;", remote: true %>
                                    <%= button_to "Rechazar", request_path(request), method: :patch, params: { request: {status: :denied} }, method: :patch, style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %> 
                                </div>
                            </li>
                        <% end %>
                    </ul>
                    <% else %>
                        <h3>No hay solicitudes.</h3>
                    <% end %>
                        
                </div>
            </section>
            <footer class="modal-card-foot"></footer>

        </div>
    </div>

<% end %>




  

