<br>
<%= render 'new' %>

<h2 style="text-align: center;">Página de Inicio</h2>
<h3 style="text-align: center;">Mis Iniciativas</h3>

<ul style="list-style-type: none; padding: 0; text-align: center;">
    <% @all_initiatives.where(id: current_user.roles.where(name: ['admin_initiative', 'member']).pluck(:resource_id)).each do |initiative| %>
        <li style="margin-bottom: 10px;">
            <%= link_to initiative.name, initiative_path(initiative), style: "text-decoration: none; color: #333; background-color: #f5f5f5; padding: 10px; border-radius: 5px; display: block;  width: 300px; margin: 0 auto;" %>
        </li>
    <% end %>
</ul>
<h3 style="text-align: center;">Otras Iniciativas</h3>

<ul style="list-style-type: none; padding: 0; text-align: center;">
    <% @all_initiatives.where.not(id: current_user.roles.where(name: ['admin_initiative', 'member']).pluck(:resource_id)).each do |initiative| %>
        <li style="margin-bottom: 10px;">
            <%= link_to initiative.name, initiative_path(initiative), style: "text-decoration: none; color: #333; background-color: #f5f5f5; padding: 10px; border-radius: 5px; display: block;  width: 300px; margin: 0 auto;" %>
        </li>
    <% end %>
</ul>
