
<% if resource.errors.any? %>
    <div class="notification is-danger permanent-notification">
       <strong>Tienes <%=resource.errors.count%> errores</strong>
       <button class="delete" onclick="closeNotification(this)"></button>
      <br>
          <% resource.errors.full_messages.each do |message| %>
           <li> <%= message %></li>
          <% end %>
    </div>
    <script>
      function closeNotification(button) {
        var notification = button.closest('.notification');
        notification.style.display = 'none';
      }
    </script>
<% end %>
