<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <img src="app/assets/images/jorge_munoz.webp" alt="Foto Jorge Muñoz">
      <h1 class="display-4">Hello World! Somos el grupo 67!</h1>
    </div>
  </div>
</main>
