<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Hello World! Somos el grupo 67!</h1>
    </div>
    <img src="<%= asset_path 'jorge-munoz.jpg' %>" alt="Foto Jorge Muñoz" class="imagen">
  </div>
</main>
