<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col_special">
      <h1 class="display-4">Central de Iniciativas Estudiantiles</h1>
    </div>
    <div class="col">
      <div class="imagen-container">
        <p>de la Universidad Católica</p>
        <img src="https://ibb.co/Lxtx5Y2" alt="Logo UC">
      </div>
    </div>
  </div>
  <div class="footer">
    <h1>Grupo 67 - IIC2143 <br> Santiago de la Carrera <br> Andres Infante <br> Vicente San Martin</h1>
  </div>
</main>
