<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col_special">
      <h1 class="display-4">Hello World! Somos el grupo 67!</h1>
    </div>
    <div class="col">
      <h1>Integrantes:</h1>
    </div>
    <div class="col">
      <div class="imagen-container">
        <img src="<%= asset_path 'jorge-munoz.jpg' %>" alt="Foto Jorge Muñoz" class="imagen">
        <p>Andres Infante</p>
      </div>
      <div class="imagen-container">
        <img src="<%= asset_path 'jorge-munoz2.jpg' %>" alt="Foto Jorge Muñoz 2" class="imagen">
        <p>Santiago de la Carrera</p>
      </div>
      <div class="imagen-container">
        <img src="<%= asset_path 'jorge-munoz3.jpg' %>" alt="Foto Jorge Muñoz 3" class="imagen">
        <p>Vicente San Martin</p>
      </div>
    </div>
  </div>
</main>
