/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #9dbccc; /* Establece el color de fondo de la página */
}

.display-4 {
    color: rgb(48, 79, 90); /* Cambiar el color del texto */
}

.display-4:hover {
    /* Hacer un gradient en color */
    color: rgb(85, 47, 255);
    font-size: 3em; /* Cambiar el tamaño del texto al doble */
}

@keyframes example {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.col {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
  
.col_special {
    animation: example 3s infinite; /* Aplicar la animación al div con clase 'col' */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.imagen {
    height: 200px;
    width: auto; /* Mantener la proporción original */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: 20px; /* Centra la imagen horizontalmente */
    margin-right: 20px; /* Centra la imagen horizontalmente */
    border-radius: 100px;
  }

.imagen-container {
    text-align: center; /* Centrar el texto */
}

.imagen-container p {
    margin-top: 5px; /* Espacio entre la imagen y la descripción */
    margin-bottom: 20px; /* Espacio entre la descripción y el siguiente elemento */
}

p {
    font-size: 25px;
    font-family: 'Calibri';
}
  
.footer {
    padding: 10px;
    background-color: #1c2833; /* Color de fondo del footer */
    color: #a7a7a7; /* Color del texto del footer */
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}