@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

strong {
    color: black;
}

.footer {
    padding: 10px 80px;
    background: #ffffff;
    color: #000000;
    bottom: 0;
    font-size: 20px;
    font-family: 'Courier', monospace;
    width: 100%;
    box-sizing: border-box;
    /* Include padding and border in the width */
    height: 110px;
    display: flex;
    justify-content: space-between;
    /* Horizontally align items */
    align-items: center;
    /* Vertically center items */
    margin: 0;
}

.main-content {
    flex: 1;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier', monospace;
}

h2 {
    font-size: 30px;
    /* Tamaño del texto */
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 20px;
    /* Tamaño del texto */
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: rgb(177, 177, 177);
}

h4 {
    font-size: 15px;
    /* Tamaño del texto */
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: rgb(180, 0, 0);
    text-shadow: 1px 1px 1px black;
}

h5 {
    font-size: 18px;
    /* Tamaño del texto */
    font-family: 'Courier', monospace;
    color: rgb(255, 255, 255);
}


/* Cambia el color del botón cuando está seleccionado */
.button:hover {
    background-color: #a1e0d7;
}

.button2 {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button2:hover {
    background-color: #4B91F7;
    color: #ffffff;
}

.button3 {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button3:hover {
    background-color: #4B91F7;
    color: #ffffff;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Evitar el desbordamiento horizontal */
    box-sizing: border-box;
    background-color: rgb(49, 78, 104);
    display: flex;
    flex-direction: column;
}

.tab-icon {
    width: 32px;
    /* Adjust the width as needed */
    height: 32px;
    /* Adjust the height as needed */
    margin-left: 10px;
    /* Add margin to separate icon from tab text */
}