.header {
    background-color: transparent;
    padding: 10px;
    width: 20%;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    position: absolute;
    margin-top: 200px;
    margin-left: 650px;
    height: 20px;
    padding-left: 30px;
    z-index: 1;
    display: inline;
    padding-left: 20px;
}

.header > * > * {
    cursor: pointer;
    border: 2px solid #3B3B3B;
    border-radius: 15px;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    width: 300px;
    padding: 16px 24px;
    text-align: center;
    margin-top: 40px;
    background: white;
}

.header > * > *:hover {
    background-color: #1A1A1A;
    color: #ffffff;
}

.first {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.first::after {
    content: "";
    background: url('campus_sj.jpg');
    opacity: 0.2;
    top: 0;
    left: -60px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    width:1400px; height:auto;
}

.titulo {
    color: #ffffff;
    width: 50%; /* Ancho del encabezado */
    font-size: 25px; /* Tamaño del texto */
    font-family: 'Courier', monospace;
    font-weight: bold;
    float: left;
    text-align: center;
}

.titulo h1:hover {
    color: #a7a7a7; /* Color del texto al pasar el cursor */
}

.titulo p {
    font-size: 18px; /* Tamaño del texto */
    font-weight: normal;
    margin-left: 10px;
}

.inicio-sesion {
    background-color: #e4e4e4;
    padding: 50px; /* Espaciado interno */
    margin-top: 60px;
    margin-bottom: 60px; /* Espacio inferior */
    margin-left: 70px;
    border-radius: 40px;
    width: 25%; /* Ancho del encabezado */
    height: 400px;
}

h2 {
    font-size: 30px; /* Tamaño del texto */
    font-family: 'Courier', monospace;
    font-weight: bold;
    color: white;
}

.second {
    margin-top: 20px;
    height: 400px;
    display: flex;
    margin-bottom: 40px;
}

.gallery:hover {
    border: 2px solid white;
}

.gallery img {
    margin: 50px;
    height: 300px;
    width: auto;
}

.desc {
    padding: 10px;
    text-align: center;
    color: #e4e4e4;
}