@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.main-button {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    height: auto;
    z-index: 1;
    text-align: center;
}

.button-container .button {
    margin-top: 20px;
}


.first {
    position: relative;
    width: 100%;
    height: 600px;
    /* especifica una altura */
    overflow: hidden;
}

.first::after {
    content: "";
    background: url('campus_sj.jpg') !important;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* higher value */
}

.titulo {
    color: #ffffff;
    width: 100%;
    font-size: 25px;
    font-family: 'Courier', monospace;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo h1:hover {
    color: #a7a7a7;
}

.titulo p {
    font-size: 18px;
    font-weight: normal;
    width: 60%;
}

.inicio-sesion {
    background-color: #e4e4e4;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 70px;
    border-radius: 40px;
    width: 25%;
    height: 400px;
}

.second {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.gallery:hover {
    border: 2px solid white;
}

.gallery img {
    margin: 50px;
    height: 300px;
    width: auto;
}

.desc {
    padding: 10px;
    text-align: center;
    color: #e4e4e4;
}