body {
    text-align: justify;
}

.button > *{
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button2 > * > *{
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
.columns {
  margin: 0;
  padding: 20px;
}

.column {
  padding: 20px;
}


.is-rounded {
  border-radius: 50%;
}

.card-custom {
  margin-right: 80px;
  margin-left: 80px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.card-header-icon {
  position: absolute;
  right: 10px;
}

.has-text-centered {
  text-align: center;
}
