body {
    text-align: left;
}


/* app/assets/stylesheets/custom.css */
/* app/assets/stylesheets/custom.css */
/* app/assets/stylesheets/custom.css */
/* app/assets/stylesheets/custom.css */
/* app/assets/stylesheets/custom.css */
/* app/assets/stylesheets/custom.css */
/* chat_banner.scss */
/* Consider using a more descriptive class name instead of `#chat-banner` */
/* Oculta el input tipo checkbox */
/* Oculta el input tipo checkbox */
.toggle-checkbox {
    display: none;
}

/* Estilo del botón de alternar */
.toggle-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Cambia el color del botón cuando está seleccionado */
.toggle-checkbox:checked+.toggle-label {
    background-color: #dc3545;
}

/* Estilo del contenedor del banner del chat */
#chat-banner {
    left: 50%;
    position: fixed;
    bottom: 2;
    transform: translateX(-50%);
    max-width: 600px;
    width: calc(100% - 40px);
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 1;
}

/* Oculta el banner del chat por defecto */
#chat-banner.closed {
    height: 50px;
}

/* Muestra el banner del chat cuando el checkbox está seleccionado */
.toggle-checkbox:checked~#chat-banner {
    height: auto;
}

/* Estilo del encabezado del chat */
#chat-header {
    padding: 10px;
}

/* Estilo del contenido del chat */
#chat-content {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/* Estilo del área de entrada de mensajes */
#chat-input {
    padding: 10px;
}

/* Estilo de los mensajes */
.message {
    margin-bottom: 10px;
}

.background-image {
    position: relative;
    overflow: hidden;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
}

.button {
    &:hover {
        background-color: rgba(66, 88, 255, 0.5);
    }
}

.button.is-danger1 {
    background-color: rgba(255, 102, 133, 0.5);

    &:hover {
        background-color: rgba(255, 102, 133, 1);
    }
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

.card-content {
    max-height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#chat-body {
    flex: 1;
    overflow-y: auto;
}

.custom-card {
    padding: 0; // Remove default padding
    margin: 0; // Remove default margin
}

.custom-card .card-content {
    padding: 10px;
}